<table class="table table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies">
      <td>{{ company.name }} (id# {{ company.id }})</td>
      <td>{{ company.phone }}</td>
      <td>{{ company.email }}</td>
      <td>
        <button
          class="btn btn-outline-primary btn-sm"
          [routerLink]="['/company/edit/', company.id]"
        >
          Edit
        </button>
        &nbsp;
        <button
          class="btn btn-outline-danger btn-sm"
          (click)="deleteCompany(company.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- {{ logChanges() }} -->
